[mysqld]
server_id=2

basedir=/usr/local/mysql
datadir=/Users/alex/dataws/mysql-lab/replication/data/replica
socket=/Users/alex/dataws/mysql-lab/replication/run/replica.sock
pid-file=/Users/alex/dataws/mysql-lab/replication/run/replica.pid
log-error=/Users/alex/dataws/mysql-lab/replication/logs/replica.err

port=13307
bind-address=127.0.0.1

log_bin=replica-bin
relay_log=replica-relay-bin
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON

read_only=ON
super_read_only=ON

mysqlx=0
