[mysqld]
server_id=1

basedir=/usr/local/mysql
datadir=/Users/alex/dataws/mysql-lab/replication/data/source
socket=/Users/alex/dataws/mysql-lab/replication/run/source.sock
pid-file=/Users/alex/dataws/mysql-lab/replication/run/source.pid
log-error=/Users/alex/dataws/mysql-lab/replication/logs/source.err

port=13306
bind-address=127.0.0.1

log_bin=source-bin
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON

mysqlx=0
